*.pyc
*.swp
*.rdb
*.out
.DS_Store
dist/
migrations/
hawk/config/
node_modules/
bower_components/
adler-rabbitmq/
dago/
hawk/water/images/cctv.jpg
hawk/hawk/settings.py
sewatama/hawk/settings.py
sewatama/static/
