<!DOCTYPE html>
<html lang="en">
<head>
  <title>Industrial Internet of Things</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="/static/water/backboneapp/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
	<link rel="stylesheet" href="/static/water/backboneapp/styles/water.css" />
  {% block css %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'dashboard' %}">INetSCADA</a>
        <a class="navbar-brand" href="{% url 'dashboard' %}">Gapura Liqua Mandiri</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-bell"></a></span></li>

          <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul-->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" style="color: white;">
              <i class="glyphicon glyphicon-bell"></i>
              <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts" style="max-width: 400px;width: 400px;">
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment <span class="pull-right text-muted small">4 minutes ago </span>
                  </div>
                </a>
              </li>                                                                                                       <li class="divider"></li>                                                                                   <li>
                <a href="#">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New <span class="pull-right text-muted small">12 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
              <a class="text-center" href="{% url 'notifications' %}">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-alerts -->
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" style="">
              <i class="glyphicon glyphicon-user" style=""></i>
              <i class="glyphicon glyphicon-triangle-bottom" style=""></i>
            </a>
            <ul class="dropdown-menu dropdown-user" style="">
              <li><a href="{% url 'profile' %}"><i class="glyphicon glyphicon-user"></i> User Profile</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block content %}{% endblock %}

	<script src="/static/water/backboneapp/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/water/backboneapp/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
	<script src="/static/water/backboneapp/bower_components/underscore/underscore-min.js"></script>
	<script src="/static/water/backboneapp/bower_components/backbone/backbone-min.js"></script>
  <script src="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.js"></script>
  <script rel="stylesheet" src="/static/water/backboneapp/bower_components/spin.js/spin.js"></script>
  <script rel="stylesheet" src="/static/water/backboneapp/bower_components/spin.js/jquery.spin.js"></script>

  {% block javascript %}{% endblock%}
</body>
</html>
