{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>CCTV</h3>

    <h4>CCTV 1</h4>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="10">
          <div style="padding:20px;">
            <img id="cctv" alt="cctv" src="/static/water/images/cctv.jpg" style="height:100%; width:100%; border: 1px solid #F5F5F5; border-radius: 5px;">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 54],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  });
</script>

<script type="text/javascript" id="code">
  function process_bar(id) { 
    $(id).fadeOut(); 
    $(id).css('border-color','#3c763d'); 
    $(id).fadeIn(); 
    $(id).css('border-color','#ddd');
  }

  var counter = 0;
    setInterval(function(){
      $("#cctv").removeAttr('src','/static/water/images/cctv.jpg');
      $("#cctv").removeAttr('src',true);
      $("#cctv").attr('src','/static/water/images/cctv.jpg');
      process_bar('#cctv');
      counter++;
    },300000); //each 5 minutes (60*1000 = 1 minute)

  var idleTime = 0;
  $(document).ready(function () {
    //Increment the idle time counter every minute.
    var idleInterval = setInterval(minutesIncrement, 60*1000);
    //Zero the idle timer on mouse movement.
    $(this).mousemove(function (e) {
      idleTime = 0;
    });
    $(this).keypress(function (e) {
      idleTime = 0;
    });
  });

  function minutesIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 5) { // 5 minutes
      window.location.reload();
    }
    //console.log('passed '+idleTime+' minute(s)');
  }
</script>
{% endblock %}
