<div id="sidenav">
  <ul class="sidenav-ul">
    <li><a href="{% url 'live-overview' %}"><span class="glyphicon glyphicon-tint"></span><div>Live</div></a></li>
    <li><a href="{% url 'trend' %}"><span class="glyphicon glyphicon-stats"></span><div>Trend</div></a></li>
    <li><a href="{% url 'report' %}"><span class="glyphicon glyphicon-blackboard"></span><div>Report</div></a></li>
    <!-- <li><a href="{% url 'alarm' %}">Alarm</a></li> -->
    <li><a href="{% url 'cctv' %}"><span class="glyphicon glyphicon-facetime-video"></span><div>CCTV</div></a></li>
  </ul>
</div>
