{% extends "base.html" %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>Trend</h3>

    <div id="grid-0" class="gridster">
      <ul>
      </ul>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="/static/water/backboneapp/bower_components/highcharts/highstock.js"></script>

<script>
  var app = app || {};
  
  app.TrendView = Backbone.View.extend({
    initialize: function() {
      app.widgets = new app.WidgetList();
      app.widgets.url = '/water/api/trend/';
  
      app.widgets.fetch({ async: false });
      this.render();
    },
  
    render: function() {
      app.widgets.each(function(widget) {
        widget.set({ page: 'trend' });

        if (widget.get('type') === 'chart') {
          var widgetView = new app.RealTimeChartView({
            el: $('#grid-0 > ul'),
            model: widget.toJSON()
          });
          widgetView.render();
        }

        if (widget.get('type') === 'title') {
          var widgetView = new app.TitleView({
            el: $('#grid-0 > ul'),
            model: widget.toJSON()
          });
          widgetView.render();
        }

        if (widget.get('type') === 'spacer') {
          var widgetView = new app.SpacerView({
            el: $('#grid-0 > ul'),
            model: widget.toJSON()
          });
          widgetView.render();
        }
      });
    },
  });
  
  app.trendView = new app.TrendView();
  
  var gridster = [];
  
  gridster[0] = $("#grid-0 ul")
    .gridster({
      namespace: '#grid-0',
      widget_margins: [5, 5],
      widget_base_dimensions: [90, 20],
      min_cols: 12,
      max_cols: 12,
      max_size_x: 12})
    .data('gridster')
    .disable();
</script>
{% endblock %}
