<!DOCTYPE html>
<html lang="en">
<head>
  <title>Industrial Internet of Things</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/electrical/backboneapp/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/electrical/backboneapp/bower_components/alloy-ui/build/aui-css/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/electrical/backboneapp/styles/electrical.css" />
  <link rel="stylesheet" href="/static/electrical/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
  <link rel="stylesheet" href="/static/electrical/backboneapp/bower_components/leaflet/dist/leaflet.css" />
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'dashboard' %}">INetSCADA</a>
        <a class="navbar-brand" href="{% url 'dashboard' %}">Sumberdaya Sewatama</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" style="color: white;">
              <i class="glyphicon glyphicon-triangle-bottom"></i>
            </a>
            <ul class="dropdown-menu dropdown-user" style="">
              <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  {% block content %}{% endblock %}

  <script type="text/template" id="gauge-template">
    <li data-row="<%= grid.y %>" data-col="<%= grid.x %>" data-sizex="<%= grid.w %>" data-sizey="<%= grid.h %>" class="gs-w">
      <table class="table">
        <tr><td class="widget-head"><b><%= title %></b></td></tr>
        <tr><td colspan="2"><div id="<%= tagId %>" style="margin-top:-20px;width:170px;height:170px"></div></td></tr>
      </table>
    </li>
  </script>

  <script type="text/template" id="onecolumn-table-template">
    <li data-row="<%= grid.y %>" data-col="<%= grid.x %>" data-sizex="<%= grid.w %>" data-sizey="<%= grid.h %>" class="gs-w">
      <table class="table">
        <% if (typeof title !== 'undefined') { %>
        <thead>
          <tr><td class="widget-head"><%= title %></td></tr>
        </thead>
        <% } %>
        <tbody id="<%= tagId %>" style="font-size:12px"></tbody>
      </table>
    </li>
  </script>

  <script type="text/template" id="onecolumn-table-item-template">
    <% if (type === 'default') { %>
      <tr>
        <td>
          <div><%= name %></div>
          <div><%= value %> <%= label %></div>
        </td>
      </tr>
    <% } else if (type === 'general') { %>
      <tr>
        <td>
          <div class="btn-group">
            <% if (typeof run !== 'undefined' && run > 0) { %>
              <button class="btn btn-xs btn-success" style="font-size:10px">Run</button>
            <% } else if (typeof run !== 'undefined' && run <= 0) { %>
              <button class="btn btn-xs btn-danger" style="font-size:10px">Stop</button>
            <% } else { %>
              <button class="btn btn-xs" style="font-size:10px">#NA</button>
            <% } %>

            <% if (typeof fault !== 'undefined' && fault === false) { %>        
              <button class="btn btn-xs btn-default" style="font-size:10px">Fault</button>
            <% } else if (typeof fault !== 'undefined' && fault === true) { %>  
              <button class="btn btn-xs btn-danger" style="font-size:10px">Fault</button>
            <% } else { %>                                                      
              <button class="btn btn-xs" style="font-size:10px">#NA</button>    
            <% } %>
          </div>
        </td>
      </tr>
    <% } else if (type === 'indicator') { %>
      <tr>
        <td>
          <div><%= name %></div>
          <% if (typeof value != 'undefined' && value === true) { %>
            <div class="panel panel-success panel-indicator-success"><%= trueText %></div>
          <% } else if (typeof value != 'undefined' && value === false) { %>
            <div class="panel panel-danger panel-indicator-danger"><%= falseText %></div>
          <% } else { %>
            <div class="panel panel-success panel-indicator-na">#NA</div>
          <% } %>
        </td>
      </tr>
    <% } else if (type === 'indicatorInverse') { %>
      <tr>
        <td>
          <div><%= name %></div>
          <% if (typeof value != 'undefined' && value === false) { %>
            <div class="panel panel-success panel-indicator-success"><%= trueText %></div>
          <% } else if (typeof value != 'undefined' && value === true) { %>
            <div class="panel panel-danger panel-indicator-danger"><%= falseText %></div>
          <% } else { %>
            <div class="panel panel-success panel-indicator-na">#NA</div>
          <% } %>
        </td>
      </tr>
    <% } %>
  </script>

  <script type="text/template" id="threecolumns-table-template">
    <li data-row="<%= grid.y %>" data-col="<%= grid.x %>" data-sizex="<%= grid.w %>" data-sizey="<%= grid.h %>" class="gs-w">
      <table class="table">
        <% if (typeof title !== 'undefined') { %>
          <thead>
            <tr><td class="widget-head" colspan="3"><b><%= title %></b></td></tr>
          </thead>
        <% } %>
        <tbody id="<%= tagId %>"></tbody>
      </table>
    </li>
  </script>

  <script type="text/template" id="threecolumns-table-item-template">
    <% if (type === 'image') { %>
      <tr>
        <td colspan="3"><img src="<%= image.url %>" /></td>
      </tr>
    <% } else { %>
      <tr style="font-size:12px">
        <td style="text-align:left;padding-left:30px"><%= name %></td>
        <td style="text-align:right"><%= value %></td>
        <td style="text-align:left;width:20%"><%= label %></td>
      </tr>
    <% } %>
  </script>

  <script type="text/template" id="image-template">
    <li data-row="<%= grid.y %>" data-col="<%= grid.x %>" data-sizex="<%= grid.w %>" data-sizey="<%= grid.h %>" style="<%= grid.style %>" class="gs-w">
      <img src="<%= image.url %>" width="<%= image.w %>"/>
    </li>
  </script>

  <script type="text/template" id="update-data-template">
    <div class="alert page-notif" style="display:none;">
      <div id="notif-status">
        <span id="notif-content">Data updated</span>
        <span id="notif-status-icon"><span class="glyphicon glyphicon-ok">&nbsp;</span></span>
      </div>
    </div>
  </script>

  <script src="/static/electrical/backboneapp/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/alloy-ui/build/aui/aui-min.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/underscore/underscore-min.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/backbone/backbone-min.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/spin.js/spin.js"></script>
  <script src="/static/electrical/backboneapp/bower_components/spin.js/jquery.spin.js"></script>
  <script src="/static/electrical/backboneapp/vendors/justgage/raphael-2.1.4.min.js"></script>
  <script src="/static/electrical/backboneapp/vendors/justgage/justgage.js"></script>
  <script src="/static/electrical/backboneapp/scripts/misc/constants.js"></script>
  <script src="/static/electrical/backboneapp/scripts/misc/utility.js"></script>
  <script src="/static/electrical/backboneapp/scripts/views/widgets.js"></script>

  {% block javascript %}{% endblock%}
</body>
</html>
