{% extends "base.html" %}

{% block content %}
<div id="dashboard-content">
  <div id="map"></div>
  <div id="content">
    <h4>Assets</h4>
    <br>
    <div class="row" style="margin-left: 0px; height: auto; max-width: 1100px;">
      <div id="" class="col-md-2" align="center">
        <a href="{% url 'electrical-overview-outgoing-1' %}">
          <div class="asset-online">
            {# <div class="glyphicon glyphicon-tint" style="font-size: 45px; padding-top: 12px; color: #ffffff; "></div> #}
          </div>
          <div class="text-center" style="height:30%;padding-top:5px">Nusa Penida</div>
        </a>
      </div>

    </div>
    <hr />
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<script>
  var map = L.map('map')
    .setView([-8.7455666,115.4676004], 11);
  
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'winnuayi.p1l11l5e',
    accessToken: 'pk.eyJ1Ijoid2lubnVheWkiLCJhIjoiY2lrM3A0cWl4MDAwOHY0a3RzOWx3MWQ2ZyJ9.oBxFuNtCJG68Cuu3DK5RWA'
  }).addTo(map);
</script>
{% endblock %}
