{% extends "base.html" %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <div class="row">
      <div class="col-md-9"><h3>Electrical <span id="notif-log"></span></h3></div>
      <div class="col-md-3">
        <div class="alert page-notif" style="display:none;">
          <div id="notif-status">
              <span id="notif-status-icon"><span class="glyphicon glyphicon-ok">&nbsp;</span></span>
            <span id="notif-content">LAST UPDATE: RECENTLY</span>
            <a id="notif-closer">×</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li><a href="{% url 'electrical-overview-outgoing-1'%}">Overview Outgoing #1</a></li>
      <li><a href="{% url 'electrical-overview-outgoing-2' %}">Overview Outgoing #2</a></li>
      <li class="active"><a href="#"><b>SLD Outgoing #1</b></a></li>
      <li><a href="{% url 'electrical-sld-outgoing-2' %}">SLD Outgoing #2</a></li>
    </ul>

    <br>
    
    <div id="genset-1" class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset #1</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #2</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #3</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #4</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #5</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #6</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="7" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #7</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="8" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #8</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="1" data-col="9" data-sizex="2" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Outgoing #1</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #9</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #10</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

        <li data-row="2" data-col="3" data-sizex="1" data-sizey="9">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>Genset #11</b></td></tr>
            <tr style="font-size:12px;"><td>V: % 5.1 fl V</td></tr>
            <tr style="font-size:12px;"><td>F: % 5.2 fl Hz</td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs">Run</button><button class="btn btn-xs btn-danger">Fault</button></div></td></tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="progress" style="margin-bottom:0">
                  <div class="progress-bar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:30%;"> 30%</div>
                </div>
              </td>
            </tr>
          </table>
        </li>

      </ul>
    </div>

    <hr />

    <div id="genset-2" class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>TOTAL POWER</b></td></tr>
            <tr><td>TOTAL</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY THIS MONTH</b></td></tr>
            <tr><td>TOTAL</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY LAST MONTH</b></td></tr>
            <tr><td>TOTAL</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY THIS MONTH</b></td></tr>
            <tr><td>OUTGOING#1</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY LAST MONTH</b></td></tr>
            <tr><td>OUTGOING#1</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
      </ul>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster = [];

  $(function() {
    gridster[0] = $("#genset-1 ul")
      .gridster({
        namespace: '#genset-1',
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 20],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();

    gridster[1] = $("#genset-2 ul")
      .gridster({
        namespace: '#genset-2',
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 20],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  });

  var opts = {
    lines: 12, // The number of lines to draw
    angle: 0, // The length of each line
    lineWidth: 0.05, // The line thickness
    pointer: {
      length: 0.9, // The radius of the inner circle
      strokeWidth: 0.035, // The rotation offset
      color: '#000000' // Fill color
    },
    limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
    colorStart: '#6FADCF',   // Colors
    colorStop: '#8FC0DA',    // just experiment with them
    strokeColor: '#E0E0E0',   // to see which ones work best for you
    generateGradient: true
  };

  var target = document.getElementById('gauge-outgoing-power'); // your canvas element
  var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!

  gauge.setTextField(document.getElementById('indicator-outgoing-power'));
  gauge.maxValue = 3000; // set max gauge value
  gauge.animationSpeed = 32; // set animation speed (32 is default value)
  gauge.set(1250); // set actual value

  var target = document.getElementById('gauge-genset-power'); // your canvas element
  var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!

  gauge.setTextField(document.getElementById('indicator-genset-power'));
  gauge.maxValue = 3000; // set max gauge value
  gauge.animationSpeed = 32; // set animation speed (32 is default value)
  gauge.set(1250); // set actual value

  var target = document.getElementById('gauge-power-factor'); // your canvas element
  var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!

  gauge.setTextField(document.getElementById('indicator-power-factor'));
  gauge.maxValue = 3000; // set max gauge value
  gauge.animationSpeed = 32; // set animation speed (32 is default value)
  gauge.set(1250); // set actual value

  var target = document.getElementById('gauge-frequency'); // your canvas element
  var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!

  gauge.setTextField(document.getElementById('indicator-frequency'));
  gauge.maxValue = 3000; // set max gauge value
  gauge.animationSpeed = 32; // set animation speed (32 is default value)
  gauge.set(1250); // set actual value

  var target = document.getElementById('gauge-voltage'); // your canvas element
  var gauge = new Gauge(target).setOptions(opts); // create sexy gauge!

  gauge.setTextField(document.getElementById('indicator-voltage'));
  gauge.maxValue = 3000; // set max gauge value
  gauge.animationSpeed = 32; // set animation speed (32 is default value)
  gauge.set(1250); // set actual value
</script>
{% endblock %}
