{% extends "base.html" %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <div class="row">
      <div class="col-md-9"><h3>Electrical <span id="notif-log"></span></h3></div>
      <div class="col-md-3">
        <div class="alert page-notif" style="display:none;">
          <div id="notif-status">
              <span id="notif-status-icon"><span class="glyphicon glyphicon-ok">&nbsp;</span></span>
            <span id="notif-content">LAST UPDATE: RECENTLY</span>
            <a id="notif-closer">×</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li><a href="{% url 'electrical-overview-outgoing-1'%}">Overview Outgoing #1</a></li>
      {# <li><a href="{% url 'electrical-overview-outgoing-2' %}">Overview Outgoing #2</a></li> #}
      <li class="active"><a href="#"><b>SLD Outgoing #1</b></a></li>
      {# <li><a href="{% url 'electrical-sld-outgoing-2' %}">SLD Outgoing #2</a></li> #}
    </ul>

    <br>
    
    <div id="genset-1" class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="12" data-sizey="9" style="line-height: 350px;">
          <img src="/static/electrical/images/PicSLDOutgoing_1.png" width="95%"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#1</b></td></tr>
            <tr><td><div id="genset-1-status" class="btn-group"></div></td></tr>
            <tr style="font-size:12px;"><td>Power<div id="genset-1-power">#NA kW</div></td></tr>
            <tr style="font-size:12px;"><td>Cosphi<div id="genset-1-cosphi">#NA</div></td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<div id="genset-1-runhr">#NA Hr</div></td></tr>
            <tr style="font-size:12px;"><td>CB Status<div id="genset-1-cb"></div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<div id="genset-1-gcb"></div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<div id="genset-1-trafo"></div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#2</b></td></tr>
            <tr><td><div id="genset-2-status" class="btn-group"></div></td></tr>
            <tr style="font-size:12px;"><td>Power<div id="genset-2-power">#NA kW</div></td></tr>
            <tr style="font-size:12px;"><td>Cosphi<div id="genset-2-cosphi">#NA</div></td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<div id="genset-2-runhr">#NA Hr</div></td></tr>
            <tr style="font-size:12px;"><td>CB Status<div id="genset-2-cb"></div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<div id="genset-2-gcb"></div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<div id="genset-2-trafo"></div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#3</b></td></tr>
            <tr><td><div id="genset-3-status" class="btn-group"></div></td></tr>
            <tr style="font-size:12px;"><td>Power<div id="genset-3-power">#NA kW</div></td></tr>
            <tr style="font-size:12px;"><td>Cosphi<div id="genset-3-cosphi">#NA</div></td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<div id="genset-3-runhr">#NA Hr</div></td></tr>
            <tr style="font-size:12px;"><td>CB Status<div id="genset-3-cb"></div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<div id="genset-3-gcb"></div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<div id="genset-3-trafo"></div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#4</b></td></tr>
            <tr><td><div id="genset-4-status" class="btn-group"></div></td></tr>
            <tr style="font-size:12px;"><td>Power<div id="genset-4-power">#NA kW</div></td></tr>
            <tr style="font-size:12px;"><td>Cosphi<div id="genset-4-cosphi">#NA</div></td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<div id="genset-4-runhr">#NA Hr</div></td></tr>
            <tr style="font-size:12px;"><td>CB Status<div id="genset-4-cb"></div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<div id="genset-4-gcb"></div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<div id="genset-4-trafo"></div></td></tr>
          </table>
        </li>

        <!--
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#5</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#6</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="7" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#7</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="8" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#8</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="9" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#9</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="10" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#10</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="11" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#11</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>#NA Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>
        -->

        <li data-row="1" data-col="12" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Outgoing<br>#1</b></td></tr>
            <tr style="font-size:12px;"><td>Power<br>#NA kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>#NA</td></tr>
            <tr style="font-size:12px;"><td>PR Status<div id="outgoing-1-pr"></div></td></tr>
          </table>
        </li>


      </ul>
    </div>

    <hr />

    <div id="genset-2" class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>TOTAL POWER</b></td></tr>
            <tr style="font-size:12px"><td>TOTAL</td><td>% #NA</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY THIS MONTH</b></td></tr>
            <tr style="font-size:12px"><td>TOTAL</td><td>% #NA</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY LAST MONTH</b></td></tr>
            <tr style="font-size:12px"><td>TOTAL</td><td>% #NA</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY THIS MONTH</b></td></tr>
            <tr style="font-size:12px"><td>OUTGOING#1</td><td>% #NA</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY LAST MONTH</b></td></tr>
            <tr style="font-size:12px"><td>OUTGOING#1</td><td>% #NA</td><td>fl kW</td></tr>
          </table>
        </li>
      </ul>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster = [];

  $(function() {
    gridster[0] = $("#genset-1 ul")
      .gridster({
        namespace: '#genset-1',
        widget_margins: [5, 5],
        widget_base_dimensions: [90, 30],
        max_cols: 12,
        max_size_x: 12})
      .data('gridster')
      .disable();

    gridster[1] = $("#genset-2 ul")
      .gridster({
        namespace: '#genset-2',
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 19],
        max_cols: 12,
        max_size_x: 12})
      .data('gridster')
      .disable();
  });

  $.ajax({
    url: '/electrical/api/sld-outgoing-1/',
    method: 'get',
    success: function(result) {
      console.log(result);
      if (result.success === 0) {
        setWidget(result.data);
      }
    },
    error: function(result) {},
  });

  function setWidget(data) {
    // GENSET #1
    if (typeof data.obj1 !== 'undefined') {
      setPanelStatus('#genset-1-cb', getPanelStatus(data.obj1.Value));
    } else {
      setPanelStatus('#genset-1-cb', getPanelNaStatus());
    }

    if (typeof data.obj2 !== 'undefined') {
      setPanelStatus('#genset-1-gcb', getPanelStatus(data.obj2.Value));
    } else {
      setPanelStatus('#genset-1-gcb', getPanelNaStatus());
    }

    if (typeof data.obj3 !== 'undefined') {
      setPanelStatus('#genset-1-trafo', getTrafoStatus(data.obj3.Value));
    } else {
      setPanelStatus('#genset-1-trafo', getPanelNaStatus());
    }

    // GENSET #2
    if (typeof data.obj4 !== 'undefined') {
      setPanelStatus('#genset-2-cb', getPanelStatus(data.obj4.Value));
    } else {
      setPanelStatus('#genset-2-cb', getPanelNaStatus());
    }

    if (typeof data.obj5 !== 'undefined') {
      setPanelStatus('#genset-2-gcb', getPanelStatus(data.obj5.Value));
    } else {
      setPanelStatus('#genset-2-gcb', getPanelNaStatus());
    }

    if (typeof data.obj6 !== 'undefined') {
      setPanelStatus('#genset-2-trafo', getTrafoStatus(data.obj6.Value));
    } else {
      setPanelStatus('#genset-2-trafo', getPanelNaStatus());
    }

    // GENSET #3
    if (typeof data.obj7 !== 'undefined') {
      setPanelStatus('#genset-3-cb', getPanelStatus(data.obj7.Value));
    } else {
      setPanelStatus('#genset-3-cb', getPanelNaStatus());
    }

    if (typeof data.obj8 !== 'undefined') {
      setPanelStatus('#genset-3-gcb', getPanelStatus(data.obj8.Value));
    } else {
      setPanelStatus('#genset-3-gcb', getPanelNaStatus());
    }

    if (typeof data.obj9 !== 'undefined') {
      setPanelStatus('#genset-3-trafo', getTrafoStatus(data.obj9.Value));
    } else {
      setPanelStatus('#genset-3-trafo', getPanelNaStatus());
    }

    // GENSET #4
    if (typeof data.obj10 !== 'undefined') {
      setPanelStatus('#genset-4-cb', getPanelStatus(data.obj10.Value));
    } else {
      setPanelStatus('#genset-4-cb', getPanelNaStatus());
    }

    if (typeof data.obj11 !== 'undefined') {
      setPanelStatus('#genset-4-gcb', getPanelStatus(data.obj11.Value));
    } else {
      setPanelStatus('#genset-4-gcb', getPanelNaStatus());
    }

    if (typeof data.obj12 !== 'undefined') {
      setPanelStatus('#genset-4-trafo', getTrafoStatus(data.obj12.Value));
    } else {
      setPanelStatus('#genset-4-trafo', getPanelNaStatus());
    }

    // OUTGOING #1
    if (typeof data.obj13 !== 'undefined') {
      setPanelStatus('#outgoing-1-pr', getPanelStatus(data.obj13.Value));
    } else {
      setPanelStatus('#outgoing-1-pr', getPanelNaStatus());
    }

    // GENSET #1
    if (typeof data.obj19 !== 'undefined') {
      var buttonGroup = getStatus(data.obj19.Value);
      $('#genset-1-status').append(buttonGroup);
    }

    if (typeof data.obj21 !== 'undefined') {
      $('#genset-1-power').empty();
      $('#genset-1-power').append(Math.round(data.obj21.Value * 100) / 100 + ' kW');
    }

    if (typeof data.obj22 !== 'undefined') {
      $('#genset-1-cosphi').empty();
      $('#genset-1-cosphi').append(Math.round(data.obj22.Value * 100) / 100);
    }

    if (typeof data.obj23 !== 'undefined') {
      $('#genset-1-runhr').empty();
      $('#genset-1-runhr').append(Math.round(data.obj23.Value * 100) / 100 + ' Hr');
    }

    // GENSET #2
    if (typeof data.obj24 !== 'undefined') {
      var buttonGroup = getStatus(data.obj24.Value);
      $('#genset-2-status').append(buttonGroup);
    }

    if (typeof data.obj26 !== 'undefined') {
      $('#genset-2-power').empty();
      $('#genset-2-power').append(Math.round(data.obj26.Value * 100) / 100 + ' kW');
    }

    if (typeof data.obj27 !== 'undefined') {
      $('#genset-2-cosphi').empty();
      $('#genset-2-cosphi').append(Math.round(data.obj27.Value * 100) / 100);
    }

    if (typeof data.obj28 !== 'undefined') {
      $('#genset-2-runhr').empty();
      $('#genset-2-runhr').append(Math.round(data.obj28.Value * 100) / 100 + ' Hr');
    }

    // GENSET #3
    if (typeof data.obj29 !== 'undefined') {
      var buttonGroup = getStatus(data.obj29.Value);
      $('#genset-3-status').append(buttonGroup);
    }

    if (typeof data.obj31 !== 'undefined') {
      $('#genset-3-power').empty();
      $('#genset-3-power').append(Math.round(data.obj31.Value * 100) / 100 + ' kW');
    }

    if (typeof data.obj32 !== 'undefined') {
      $('#genset-3-cosphi').empty();
      $('#genset-3-cosphi').append(Math.round(data.obj32.Value * 100) / 100);
    }

    if (typeof data.obj33 !== 'undefined') {
      $('#genset-3-runhr').empty();
      $('#genset-3-runhr').append(Math.round(data.obj33.Value * 100) / 100 + ' Hr');
    }

    // GENSET #4
    if (typeof data.obj34 !== 'undefined') {
      var buttonGroup = getStatus(data.obj34.Value);
      $('#genset-4-status').append(buttonGroup);
    }

    if (typeof data.obj36 !== 'undefined') {
      $('#genset-4-power').empty();
      $('#genset-4-power').append(Math.round(data.obj36.Value * 100) / 100 + ' kW');
    }

    if (typeof data.obj37 !== 'undefined') {
      $('#genset-4-cosphi').empty();
      $('#genset-4-cosphi').append(Math.round(data.obj37.Value * 100) / 100);
    }

    if (typeof data.obj38 !== 'undefined') {
      $('#genset-4-runhr').empty();
      $('#genset-4-runhr').append(Math.round(data.obj38.Value * 100) / 100 + ' Hr');
    }

    if (typeof data.obj39 !== 'undefined') {
      $('#outgoing-1-power').empty();
      $('#outgoing-1-power').append(Math.round(data.obj39.Value * 100) / 100 + ' kW');
    }

  }

  function setPanelStatus(id, status) {
    $(id).empty();
    $(id).append(status);
  }

  function getStatus(value) {
    if (value > 0) {
      return '<button class="btn btn-xs btn-success" style="font-size:10px">Run</button><button class="btn btn-xs" style="font-size:10px">Fault</button>';
    } else {
      return '<button class="btn btn-xs btn-danger" style="font-size:10px">Stop</button><button class="btn btn-xs" style="font-size:10px">Fault</button>';
    }
  }

  function getPanelStatus(value) {
    if (value === 1) {
      return '<div class="panel panel-success panel-indicator-success">CLOSED</div>';
    } else {
      return '<div class="panel panel-danger panel-indicator-danger">OPEN</div>';
    }
  }

  function getTrafoStatus(value) {
    if (value === 0) {
      return '<div class="panel panel-success panel-indicator-success">NORMAL</div>';
    } else {
      return '<div class="panel panel-danger panel-indicator-danger">FAULT</div>';
    }
  }

  function getPanelNaStatus() {
    return '<div class="panel panel-primary panel-indicator-na">#NA</div>';
  }
</script>
{% endblock %}
