{% extends "base.html" %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <div class="row">
      <div class="col-md-9"><h3>Electrical <span id="notif-log"></span></h3></div>
      <div class="col-md-3">
        <div class="alert page-notif" style="display:none;">
          <div id="notif-status">
              <span id="notif-status-icon"><span class="glyphicon glyphicon-ok">&nbsp;</span></span>
            <span id="notif-content">LAST UPDATE: RECENTLY</span>
            <a id="notif-closer">×</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li><a href="{% url 'electrical-overview-outgoing-1'%}">Overview Outgoing #1</a></li>
      <li><a href="{% url 'electrical-overview-outgoing-2' %}">Overview Outgoing #2</a></li>
      <li class="active"><a href="#"><b>SLD Outgoing #1</b></a></li>
      <li><a href="{% url 'electrical-sld-outgoing-2' %}">SLD Outgoing #2</a></li>
    </ul>

    <br>
    
    <div id="genset-1" class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="12" data-sizey="9" style="line-height: 350px;">
          <img src="/static/electrical/images/PicSLDOutgoing_1.png" width="95%"/>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#1</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#2</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#3</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="4" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#4</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="5" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#5</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="6" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#6</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="7" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#7</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="8" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#8</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="9" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#9</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="10" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#10</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="11" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Genset<br>#11</b></td></tr>
            <tr><td><div class="btn-group"><button class="btn btn-xs btn-success">Run</button><button class="btn btn-xs">Fault</button></div></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            <tr style="font-size:12px;"><td>Run Hr.<br>1234.56 Hr</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>CB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>GCB Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
            <tr style="font-size:12px;"><td>Trafo Status<br><div class="panel panel-success panel-indicator">NORMAL</div></td></tr>
          </table>
        </li>

        <li data-row="1" data-col="12" data-sizex="1" data-sizey="11">
          <table class="table">
            <tr><td class="widget-head" colspan="2"><b>Outgoing<br>#1</b></td></tr>
            <tr style="font-size:12px;"><td>Power<br>1234.56 kW</td></tr>
            <tr style="font-size:12px;"><td>Cosphi<br>1234.56</td></tr>
            </tr>
            <tr style="font-size:12px;"><td>PR Status<br><div class="panel panel-success panel-indicator">CLOSED</div></td></tr>
          </table>
        </li>


      </ul>
    </div>

    <hr />

    <div id="genset-2" class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>TOTAL POWER</b></td></tr>
            <tr style="font-size:12px"><td>TOTAL</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY THIS MONTH</b></td></tr>
            <tr style="font-size:12px"><td>TOTAL</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY LAST MONTH</b></td></tr>
            <tr style="font-size:12px"><td>TOTAL</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY THIS MONTH</b></td></tr>
            <tr style="font-size:12px"><td>OUTGOING#1</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>ENERGY LAST MONTH</b></td></tr>
            <tr style="font-size:12px"><td>OUTGOING#1</td><td>% 17</td><td>fl kW</td></tr>
          </table>
        </li>
      </ul>
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster = [];

  $(function() {
    gridster[0] = $("#genset-1 ul")
      .gridster({
        namespace: '#genset-1',
        widget_margins: [5, 5],
        widget_base_dimensions: [90, 30],
        max_cols: 12,
        max_size_x: 12})
      .data('gridster')
      .disable();

    gridster[1] = $("#genset-2 ul")
      .gridster({
        namespace: '#genset-2',
        widget_margins: [5, 5],
        widget_base_dimensions: [90, 19],
        max_cols: 12,
        max_size_x: 12})
      .data('gridster')
      .disable();
  });
</script>
{% endblock %}
