{% extends "base.html" %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <div class="row">
      <div class="col-md-5"><h3>Genset</h3></div>
      <div class="col-md-6">
        <div class="alert page-notif" style="display:none;">
          <div id="notif-status">
            <span id="notif-status-icon"><span class="glyphicon glyphicon-ok">&nbsp;</span></span>
            <span id="notif-content">DATA UPDATED</span>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#"><b>Overview Outgoing #1</b></a></li>
      {# <li><a href="{% url 'genset-overview-outgoing-2' %}">Overview Outgoing #2</a></li> #}
      <li><a href="{% url 'genset-outgoing-1-unit-1' %}">Outgoing #1</a></li>
      {# <li><a href="{% url 'genset-outgoing-2-unit-1' %}">Outgoing #2</a></li> #}
    </ul>

    <br>
    
    <div id="grid-0" class="gridster">
      <ul>
      </ul>
    </div>

{% endblock %}

{% block javascript %}
  <script src="/static/electrical/backboneapp/scripts/views/report-sfc-outgoing.js"></script>
{% endblock %}
