<div id="sidenav">
  <ul class="sidenav-ul">
    <li><a href="{% url 'electrical-overview-outgoing-1' %}"><span class="glyphicon glyphicon-flash"></span><div>Electrical</div></a></li>
    <li><a href="{% url 'genset-overview-outgoing-1' %}"><span class="glyphicon glyphicon-flash"></span><div>Genset</div></a></li>
    <li><a href="{% url 'trend-unit-1' %}"><span class="glyphicon glyphicon-stats"></span><div>Trend</div></a></li>
    <li><a href="{% url 'report-sfc-outgoing' %}"><span class="glyphicon glyphicon-blackboard"></span><div>Report</div></a></li>
    <li><a href="{% url 'alarm-active' %}"><span class="glyphicon glyphicon-bell"></span><div>Alarm</div></a></li>
  </ul>
</div>
