<div id="sidenav">
  <ul class="sidenav-ul">
    <li><a href="{% url 'electrical-overview-outgoing-1' %}"><span class="glyphicon glyphicon-flash"></span><div>Electrical</div></a></li>
    <li><a href="{% url 'genset-overview-outgoing-1' %}"><span class="glyphicon glyphicon-flash"></span><div>Genset</div></a></li>
    <!--<li><a href="{% url 'trend-unit-1' %}"><span class="glyphicon glyphicon-stats"></span><div>Trend</div></a></li>-->
    <!-- <li><a href="#"><span class="glyphicon glyphicon&#45;blackboard"></span><div>Report</div></a></li> -->
  </ul>
</div>
