{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/nvd3/build/nv.d3.min.css"></script>
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>Trend</h3>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#"><b>Unit #1</b></a></li>
      <li><a href="{% url 'trend-unit-2' %}">Unit #2</a></li>
      <li><a href="{% url 'trend-unit-3' %}">Unit #3</a></li>
      <li><a href="{% url 'trend-unit-4' %}">Unit #4</a></li>
    </ul>

    <br>

    <h4>TREND GROUP #1 <span class="glyphicon glyphicon-menu-down" id="chart-1-toggler" style="float:right;cursor:pointer;"></span></h4>
    <div class="gridster">
      <ul id="chart-1-toggle">
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T101 - CYLINDER EXHAUST TEMPEATURE</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-1" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-1-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-day">Day</label>
                  <input id="chart-1-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-week">Week</label>
                  <input id="chart-1-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-1-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="gridster">
      <ul id="chart-2-toggle">
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T102 - WINDING TEMPEATURE R,S,T</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-2" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-2-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-day">Day</label>
                  <input id="chart-2-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-week">Week</label>
                  <input id="chart-2-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-2-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="gridster">
      <ul id="chart-3-toggle">
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T103 - BEARING TEMPEATURE</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-3" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-3-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-day">Day</label>
                  <input id="chart-3-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-week">Week</label>
                  <input id="chart-3-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-3-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="gridster">
      <ul id="chart-4-toggle">
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T104 - OIL PRESSURE</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-4" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-4-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-day">Day</label>
                  <input id="chart-4-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-week">Week</label>
                  <input id="chart-4-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-1-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-4-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <hr />

    <h4>TREND GROUP #2</h4>
    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T201 - JW TEMPERATURE VS LOAD</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-5" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-5-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-2-radio-day">Day</label>
                  <input id="chart-5-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-2-radio-week">Week</label>
                  <input id="chart-5-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-2-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-5-legend" class="chart-legend"></div>
            </div> 
          </div>
        </li>

        <li data-row="6" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T202 - JW TEMPERATURE VS OIL PRESSURE</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-6" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-6-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-3-radio-day">Day</label>
                  <input id="chart-6-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-3-radio-week">Week</label>
                  <input id="chart-6-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-3-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-6-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>

        <li data-row="11" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T203 - OIL PRESSURE VS LOAD</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-7" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">              
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-7-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-4-radio-day">Day</label>
                  <input id="chart-7-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-4-radio-week">Week</label>
                  <input id="chart-7-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-4-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-7-legend" class="chart-legend"></div>
            </div>         
          </div>
        </li>

        <li data-row="16" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T204 - OIL PRESSURE VS OIL TEMPERATURE</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-8" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">  
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-8-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-5-radio-day">Day</label>
                  <input id="chart-8-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-5-radio-week">Week</label>
                  <input id="chart-8-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-5-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-8-legend" class="chart-legend"></div>
            </div> 
          </div>
        </li>
      </ul>
    </div>

    <hr />

    <h4>TREND GROUP #3</h4>
    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T301 - DELTA EXHAUST STACK L/R</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-9" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-9-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-day">Day</label>
                  <input id="chart-9-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-week">Week</label>
                  <input id="chart-9-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-9-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>

        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T302 - POWER TRENDING</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-10" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-10-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-day">Day</label>
                  <input id="chart-10-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-week">Week</label>
                  <input id="chart-10-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-10-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>

        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T303 - VOLTAGE, CURRENT</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-11" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-11-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-day">Day</label>
                  <input id="chart-11-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-week">Week</label>
                  <input id="chart-11-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-11-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>

        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5">
          <div class="row" style="padding:20px;">
            <div class="col-md-10">G1T304 - FREQUENCY, COS PHI</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10">
              <canvas id="chart-12" width="850" height="250" style="margin-top:10px;"></canvas>
            </div>
            <div class="col-md-2 sidechart">
              <div style="border-bottom: 1px solid #ddd;margin-bottom: 19px;">
                <div style="font-size: 12px;vertical-align: middle;" class="form-group">
                  <input id="chart-12-radio-day" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-day">Day</label>
                  <input id="chart-12-radio-week" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-week">Week</label>
                  <input id="chart-12-radio-month" class="chart-radio" type="radio" name="chart1rad"> <label class="chart-legend" for="chart-6-radio-month">Month</label>
                </div>
              </div>
              <div id="chart-12-legend" class="chart-legend"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<style type="text/css">
  ul.line2y-legend, ul.line-legend {
    background: none;
    border: none;
  }
  ul.line2y-legend li, ul.line-legend li {
    border:none;
    text-align: left;
    box-shadow: none;
    margin-top: 10px;
    font-size: 11px;
  }
  .chart-legend li span{ 
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
</style>
{% endblock %}

{% block javascript %}

<script src="/static/electrical/backboneapp/bower_components/Chart.js/Chart.min.js"></script>
<script src="/static/electrical/backboneapp/bower_components/d3/d3.min.js"></script>
<script src="/static/electrical/backboneapp/bower_components/nvd3/build/nv.d3.min.js"></script>

<script>
  /*ChartJS Document*/
  Chart.types.Line.extend({
    name: "Line2Y",
    getScale: function(data) {
      var startPoint = this.options.scaleFontSize;
      var endPoint = this.chart.height - (this.options.scaleFontSize * 1.5) - 5;
      return Chart.helpers.calculateScaleRange(
        data,
        endPoint - startPoint,
        this.options.scaleFontSize,
        this.options.scaleBeginAtZero,
        this.options.scaleIntegersOnly);
    },
    initialize: function (data) {
      var y2datasetLabels = [];
      var y2data = [];
      var y1data = [];
      data.datasets.forEach(function (dataset, i) {
        if (dataset.y2axis == true) {
          y2datasetLabels.push(dataset.label);
          y2data = y2data.concat(dataset.data);
        } else {
          y1data = y1data.concat(dataset.data);
        }
      });
        
      //use the helper function to get the scale for both datasets
      var y1Scale = this.getScale(y1data);
      this.y2Scale = this.getScale(y2data);
      var normalizingFactor = y1Scale.max / this.y2Scale.max;

      // update y2 datasets
      data.datasets.forEach(function(dataset) {
        if (y2datasetLabels.indexOf(dataset.label) !== -1) {
          dataset.data.forEach(function (e, j) {
            dataset.data[j] = e * normalizingFactor;
          })
        }
      })

        // denormalize tooltip for y2 datasets
      this.options.multiTooltipTemplate = function (d) {
        if (y2datasetLabels.indexOf(d.datasetLabel) !== -1) 
          return Math.round(d.value / normalizingFactor, 6);
        else 
          return d.value;
      }

      Chart.types.Line.prototype.initialize.apply(this, arguments);
    },
    draw: function () {
      this.scale.xScalePaddingRight = this.scale.xScalePaddingLeft;
      Chart.types.Line.prototype.draw.apply(this, arguments);

      this.chart.ctx.textAlign = 'left';
      this.chart.ctx.textBaseline = "middle";
      this.chart.ctx.fillStyle = "#666";
      var yStep = (this.scale.endPoint - this.scale.startPoint)
        / this.y2Scale.steps
      for (var i = 0, y = this.scale.endPoint, label = this.y2Scale.min; 
          i <= this.y2Scale.steps; i++) {
        this.chart.ctx.fillText(
          label,
          this.chart.width - this.scale.xScalePaddingRight + 10,
          y);
        y -= yStep;
        label += this.y2Scale.stepValue;
      }
    }
  });

  /* Global ChartJS Options*/
  var options = {
    scaleBeginAtZero: true,
    scaleShowGridLines: true,
    scaleShowLabels: true
  }

</script>

<script>
  var ctx1 = $('#chart-1').get(0).getContext('2d');
  var data1 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "EXH. MANIFOLD #1 (LEFT) TEMP. (F)",
        fillColor: "rgba(255,0,0,0.2)",
        strokeColor: "rgba(255,0,0,1)",
        pointColor: "rgba(255,0,0,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "EXH. MANIFOLD #2 (RIGHT) TEMP. (F)",
        fillColor: "rgba(0,255,0,0.2)",
        strokeColor: "rgba(0,255,0,1)",
        pointColor: "rgba(0,255,0,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [28, 48, 40, 19, 86, 27, 90]
      }
    ]
  };
  var myLine1 = new Chart(ctx1).Line2Y(data1, options);
  $('#chart-1-legend').html(myLine1.generateLegend());
</script>

<script>
  var ctx2 = $('#chart-2').get(0).getContext('2d');
  var data2 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "WINDING PHASE A TEMP. (C)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "WINDING PHASE B TEMP. (C)",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [28, 48, 40, 19, 86, 27, 90]
      },
      {
        label: "WINDING PHASE C TEMP. (C)",
        fillColor: "rgba(19,99,5,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(12,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [82, 22, 11, 90, 77, 44, 55]
      }
    ]
  };
  var myLine2 = new Chart(ctx2).Line2Y(data2, options);
  $('#chart-2-legend').html(myLine2.generateLegend());
</script>

<script>
  var ctx3 = $('#chart-3').get(0).getContext('2d');
  var data3 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "BEARING TEMP. (REAR) (C)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "BEARING TEMP. (FRONT) (C)",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        data: [28, 48, 40, 19, 86, 27, 90]
      },
    ]
  };
  var myLine3 = new Chart(ctx3).Line2Y(data3, options);
  $('#chart-3-legend').html(myLine3.generateLegend());
</script>

<script>
  var ctx4 = $('#chart-4').get(0).getContext('2d');
  var data4 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "Oil Pressure (kPa)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
    ]
  };
  var myLine4 = new Chart(ctx4).Line2Y(data4, options);
  $('#chart-4-legend').html(myLine4.generateLegend());
</script>

<script>
$(document).ready(function(){
  //var refresh = setInterval(go_ajax,60000);
  var ctx5 = document.getElementById("chart-5").getContext("2d");
  var lineChartData5 = {
    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
    datasets: [{
        label: "JACKET WATER TEMP. (C)",
        fillColor: "rgba(0,255,0,0.5)",
        strokeColor: "rgba(0,255,0,1)",
        pointColor: "rgba(0,255,0,1)",
        color: "rgba(0,255,0,0,0.5)",
        pointStrokeColor: "#fff",
        data: [15, 25, 90, 81, 56, 55, 400]
    }, {
        label: "TOTAL POWER (kW)",
        fillColor: "rgba(151,187,205,0.5)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        data: [150, 48, 120, 19, 46, 27, 100],
        y2axis: true
    }]
  }
  var myLine5 = new Chart(ctx5).Line2Y(lineChartData5, options);
  $('#chart-5-legend').html(myLine5.generateLegend());
});
</script>


<script>
  var ctx6 = $('#chart-6').get(0).getContext('2d');
  var data6 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "JACKET WATER TEMP. (C)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "OIL PRESSURE (kPa)",
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(151,187,205,1)",
        // issues: jika jumlah data series tidak sama dengan yang lain chartjs
        // tidak menampilkan range data yang lebih
        data: [28, 28, 80, 89, 26, 21, 19, 11, 12, 23],  
        y2axis: true
      }
    ]
  };
  var myLine6 = new Chart(ctx6).Line2Y(data6, options);
  $('#chart-6-legend').html(myLine6.generateLegend());
</script>


<script>
  var ctx7 = $('#chart-7').get(0).getContext('2d');
  var data7 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "OIL PRESSURE (kPa)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "TOTAL POWER (kW)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [28, 28, 80, 89, 26, 21, 19],  
        y2axis: true
      }
    ]
  };

  var myLine7 = new Chart(ctx7).Line2Y(data7, options);
  $('#chart-7-legend').html(myLine7.generateLegend());
</script>

<script>
  var ctx8 = $('#chart-8').get(0).getContext('2d');
  var data8 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "OIL PRESSURE (kPa)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "OIL TEMPERATURE (C)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [28, 28, 80, 89, 26, 21, 19],  
        y2axis: true
      }
    ]
  };

  var myLine8 = new Chart(ctx8).Line2Y(data8, options);
  $('#chart-8-legend').html(myLine8.generateLegend());
</script>


<script>
  var ctx10 = $('#chart-10').get(0).getContext('2d');
  var data10 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "TOTAL POWER (kW)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "TOTAL REACTIVE POWER (kVAR)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [28, 28, 80, 89, 26, 21, 19],  
        y2axis: true
      },
      {
        label: "TOTAL APPARENT POWER (kVA)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [30, 45, 80, 60, 65, 30, 55],  
        y2axis: true
      }
    ]
  };

  var myLine10 = new Chart(ctx10).Line2Y(data10, options);
  $('#chart-10-legend').html(myLine10.generateLegend());
</script>

<script>
  var ctx11 = $('#chart-11').get(0).getContext('2d');
  var data11 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "VOLTAGE R-S (V)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [10, 12, 15, 12, 10, 10, 10]
      },
      {
        label: "VOLTAGE S-T (V)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [20, 22, 25, 22, 20, 20, 20]
      },
      {
        label: "VOLTAGE T-R (V)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [30, 32, 35, 32, 30, 30, 30]
      },
      {
        label: "AVG. GENERATED CURRENT (A)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [5, 2, 5, 2, 4, 3, 2],
        y2axis: true
      }
    ]
  };

  var myLine11 = new Chart(ctx11).Line2Y(data11, options);
  $('#chart-11-legend').html(myLine11.generateLegend());
</script>

<script>
  var ctx12 = $('#chart-12').get(0).getContext('2d');
  var data12 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "FREQUENCY (Hz)",
        fillColor: "rgba(0,0,0,0.2)",
        {# fillColor: "rgba(220,220,220,0.2)", #}
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label: "COS PHI (-)",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [28, 28, 80, 89, 26, 21, 19],  
        y2axis: true
      }
    ]
  };

  var myLine12 = new Chart(ctx12).Line2Y(data12, options);
  $('#chart-12-legend').html(myLine12.generateLegend());
</script>

<script>
  //code #chart-8 , chart-8-legend?
  {# $('#chart-8').ready(function() { #}
  {#   $('#chart-8').css('background','#eeeeee'); #}
  {#   $('#chart-8').css('border-radius','5px');     #}
  {# }); #}
</script>

<script>
  $(window).load(function() {
    //alert('loadding');
    $('#spin').spin({color: '#34495e', shadow: false});
  });
</script>

<script> 
  var ctg = 1;
  $('#chart-1-toggler').click(function(){
    if (ctg == 0) {
      $('#chart-1-toggler').attr('class','glyphicon glyphicon-menu-down');
      ctg++;
    } else {
      $('#chart-1-toggler').attr('class','glyphicon glyphicon-menu-up');
      ctg--;
    }
    $('#chart-1-toggle').toggle(); 
  });
</script>

<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 54],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  });
</script>
{% endblock %}
