{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>CCTV</h3>

    <h4>CCTV 1</h4>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="10">
          <div style="padding:20px;">
            <img src="/static/water/images/CCTV1.jpg" style="height:100%; width:100%; border: 1px solid gray;">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 54],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  });
</script>
{% endblock %}
