{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>Detail</h3>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="7" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
      </ul>
    </div>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="8" data-sizey="8"
            style="padding:300px">
          SKEMATIK
        </li>
      </ul>
    </div>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
        <li data-row="1" data-col="7" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
            <tr><td>Voltage Average</td><td>220</td><td>V</td></tr>
          </table>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/water/backboneapp/bower_components/Chart.js/Chart.min.js"></script>
<script src="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.js"></script>

<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [20, 20],
        widget_base_dimensions: [100, 55]})
      .data('gridster')
      .disable();
  });
</script>
{% endblock %}
