{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>Live</h3>

    <ul class="nav nav-tabs">
      <li><a href="{% url 'live-pretreatment' %}">Pre-Treatment</a></li>
      <li><a href="{% url 'live-osmosis' %}">Reverse Osmosis Process</a></li>
      <li class="active"><a href="#"><b>Product</b></a></li>
      <li><a href="{% url 'live-reject' %}">Reject</a></li>
      <li><a href="{% url 'live-energy' %}">Energy</a></li>
    </ul>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="6"
            style="line-height: 340px;">
          <img src="/static/water/images/live-product.png" />
        </li>
      </ul>
    </div>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
          </table>
        </li>
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
          <table class="table">
          </table>
        </li>
        <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
          <table class="table">
          </table>
        </li>
        <li data-row="1" data-col="7" data-sizex="2" data-sizey="3">
          <table class="table">
          </table>
        </li>
        <li data-row="1" data-col="9" data-sizex="2" data-sizey="3">
          <table class="table">
          </table>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/water/backboneapp/bower_components/Chart.js/Chart.min.js"></script>
<script src="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.js"></script>

<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 50],
        max_cols: 5})
      .data('gridster')
      .disable();
  });
</script>
{% endblock %}
