{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>Live</h3>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#"><b>Pre-Treatment</b></a></li>
      <li><a href="{% url 'live-osmosis' %}">Reverse Osmosis Process</a></li>
      <li><a href="{% url 'live-product' %}">Product</a></li>
      <li><a href="{% url 'live-reject' %}">Reject</a></li>
      <li><a href="{% url 'live-energy' %}">Energy</a></li>
    </ul>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="5" style="line-height: 350px;">
          <img src="/static/water/images/live-pretreatment.png" />
        </li>

        <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
          <table class="table">
            <tr><td colspan="3"><b>RAW WATER TANK</b></td></tr>
            <tr>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;background-color:red;color:white;">LSH</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">LSL</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
          </table>
        </li>
        <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
          <table class="table">
            <tr><td colspan="3"><b>FEED PUMP</b></td></tr>
            <tr>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;background-color:green;color:white;">RUN</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">FLT</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
            <tr>
              <td colspan="2"><div style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">HZ</div></td>
            </tr>
          </table>
        </li>
        <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
          <table class="table">
            <tr><td colspan="3"><b>MM FILTER 2A, 2B</b></td></tr>
            <tr>
              <td colspan="2"><div style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
          </table>
        </li>
        <li data-row="2" data-col="7" data-sizex="2" data-sizey="2">
          <table class="table">
            <tr><td colspan="3"><b>AS DOSING</b></td></tr>
            <tr>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">AGT</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">PMP</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
          </table>
        </li>
        <li data-row="2" data-col="9" data-sizex="2" data-sizey="2">
          <table class="table">
            <tr><td colspan="3"><b>BREAK TANK</b></td></tr>
            <tr>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">LSH</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">LSL</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

  </div>
</div>

<div id="txt">
    <div id="result">jQuery Ajax Loading Animation</div>
</div>
<p></p>
<button id="change">Change Content</button>
<div id="wait">
    <!--div id="spin"></div-->
    <img src='http://perspolistv.com/img/ajax-loader.gif' />
 <br />Please Wait While Loading Data ...</div>

<style type="text/css">
#wait {
  text-align:center;
  display:none;
  width:200px;
  height:89px;
  border:0px solid black;
  position:absolute;
  top:50%;
  left:50%;
  padding:2px;
  z-index:200;
  margin-left:10%;
  margin-top:200px; 
}
#result {
  margin-left:20%;
  margin-top:200px;
}
</style>
{% endblock %}

{% block javascript %}

<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 62],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  }); 

  $(document).ready(function(){
    var el = $('#spin').spin({ color: '#333', shadow: false });
    var req = $.ajax({
        type: "GET",
        url: '{% url "live-pretreatment-api" %}',
        beforeSend: function () {
            $("#wait").css("display", "block");
            $('#spin').spin({ color: '#333', shadow: false }); 
            $("#result").html('<div id="spin"></div>');
            console.log('loading...'+$('#wait').html());
        },
        complete: function () { 
            $("#wait").css("display", "none");
            console.log('done');        
        }
    });
    req.done(function (data) {
        //do something
        $("#result").html('<div id="spin"></div>'+'data captured'+ data);
    });
  });
 
</script>
<script rel="stylesheet" src="/static/water/backboneapp/bower_components/spin.js/spin.js"></script>
<script rel="stylesheet" src="/static/water/backboneapp/bower_components/spin.js/jquery.spin.js"></script>

{% endblock %}
