{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <div class="row">
      <div class="col-md-9"><h3>Live <span id="notif-log"></span></h3></div>
      <div class="col-md-3">
        <div class="alert page-notif" style="display:none;">
          <div id="notif-status">
              <span id="notif-status-icon"><span class="glyphicon glyphicon-ok">&nbsp;</span></span>
            <span id="notif-content">LAST UPDATE: RECENTLY</span>
            <a id="notif-closer">×</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li><a href="{% url 'live-pretreatment' %}">Pre-Treatment</a></li>
      <li class="active"><a href="#"><b>Reverse Osmosis Process</b></a></li>
      <li><a href="{% url 'live-product' %}">Product</a></li>
      <li><a href="{% url 'live-reject' %}">Reject</a></li>
      <li><a href="{% url 'live-energy' %}">Energy</a></li>
    </ul>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="10" data-sizey="2">
          <table class="table">
            <tr class="widget-head">
              <td>SWRO FEED FLOW (F1)</td>
              <td></td>
              <td>CIRC. PUMP FLOW (F2)</td>
              <td></td>
              <td>CIRC. FLOW PERCENTAGE</td>
              <td></td>
              <td>MEMBRANE INLET PRESS</td>
              <td></td>
              <td>RAW WATER TDS</td>
              <td></td>
              <td>PRODUCT TDS</td>
              <td></td>
              <td>PRODUCT PH</td>
            <tr>
            <tr>
              <td class="col-md-1"><div id="swro_feed_flow_f1" class="box_value">99999<div></td>
              <td class="col-md-1"></td>
              <td class="col-md-1"><div id="circ_pump_flow_f2" class="box_value">99999</div></td>
              <td class="col-md-1"></td>
              <td class="col-md-1"><div id="circ_flow_percentage" class="box_value">99999</div></td>
              <td class="col-md-1"></td>
              <td class="col-md-1"><div id="membrane_inlet_press" class="box_value">99999</div></td>
              <td class="col-md-1"></td>
              <td class="col-md-1"><div id="raw_water_tds" class="box_value">99999</div></td>
              <td class="col-md-1"></td>
              <td class="col-md-1"><div id="product_td" class="box_value">99999</div></td>
              <td class="col-md-1"></td>
              <td class="col-md-1"><div id="product_ph" class="box_value">99999</div></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

    <hr />

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>CIP TANK</b></td></tr>
            <tr>
              <td><div id="cip_tank_lsh" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">LSH</div></td>
              <td><div id="cip_tank_lsl" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">LSL</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
          </table>
        </li>
        <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>CIP PUMP</b></td></tr>
            <tr>
              <td><div id="cip_pump_run" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">RUN</div></td>
              <td><div id="cip_pump_flt" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">FLT</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="cip_pump_freq" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">HZ</div></td>
            </tr>
          </table>
        </li>
        <li data-row="1" data-col="5" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>HP PUMP</b></td></tr>
            <tr>
              <td><div id="hp_pump_run" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">RUN</div></td>
              <td><div id="hp_pump_flt" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">FLT</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="hp_pump_freq" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">HZ</div></td>
            </tr>
          </table>
        </li>
        <li data-row="1" data-col="7" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>MEMBR. P4, P5, P7</b></td></tr>
            <tr>
              <td colspan="2"><div id="membrane_feed" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="membrane_reject" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="membrane_product" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
          </table>
        </li>
        <li data-row="1" data-col="9" data-sizex="2" data-sizey="3">
          <table class="table">
          </table>
        </li>

        <li data-row="2" data-col="1" data-sizex="10" data-sizey="7" style="line-height: 438px;">
          <img src="/static/water/images/live-osmosis.png" />
        </li>

        <li data-row="3" data-col="1" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>SWRO FEED PUMP</b></td></tr>
            <tr>
              <td><div id="swro_feed_pump_run" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">RUN</div></td>
              <td><div id="swro_feed_pump_flt" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">FLT</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="swro_feed_pump_freq" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">HZ</div></td>
            </tr>
          </table>
        </li>
        <li data-row="3" data-col="3" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>CRT. FILTER DP</b></td></tr>
            <tr>
              <td colspan="2"><div id="crt_filter_dp_freq" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
          </table>
        </li>
        <li data-row="3" data-col="5" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>CIRC. PUMP</b></td></tr>
            <tr>
              <td><div id="circ_pump_run" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;margin-left:2px;">RUN</div></td>
              <td><div id="circ_pump_flt" style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">FLT</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;"></div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="circ_pump_freq" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">HZ</div></td>
            </tr>
          </table>
        </li>
        <li data-row="3" data-col="7" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>PX DEVICE P2, P3, DP</b></td></tr>
            <tr>
              <td colspan="2"><div id="px_device_in" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="px_device_out" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="px_device_flow" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
          </table>
        </li>
        <li data-row="3" data-col="9" data-sizex="2" data-sizey="3">
          <table class="table">
            <tr><td class="widget-head" colspan="3"><b>PX DEVICE P5, P6, DP</b></td></tr>
            <tr>
              <td colspan="2"><div id="px_device_dp_reject" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="px_device_dp_out" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
            <tr>
              <td colspan="2"><div id="px_device_dp" style="width:120px;height:30px;line-height:30px;border:1px solid #ddd;">9999</div></td>
              <td><div style="width:50px;height:30px;line-height:30px;border:1px solid #ddd;">BAR</div></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>

  </div>
</div>

<div class="row">
    <div id="spin"></div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 54],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  });
  
  $('#notif-closer').click(function() { 
    $('.page-notif') .fadeOut();      
  });

  $(document).ready(function() {
    counter();
    go_ajax();

    var ajax_status = true;
    
    var refresh = setInterval(go_ajax,10000);
    
    function go_ajax() {   
      var req = $.ajax({
        type: "GET",
        url: '{% url "live-osmosis-api" %}',
        beforeSend: function() {
          $('#spin').spin({ color: '#34495E', shadow: false }); 
          console.log('loading...');
          ajax_status = true;
        },
        complete: function() { 
          console.log('ajax request done'); 
        }
      });
 
      req.done(function(data) {
        //console.log('data captured'+data.length);
        //console.log(data);
        $('#spin').hide();
        ajax_status = true;
        widgetSetter(data); 
      });
      
      req.fail(function(data) {
        console.log('sorry failed');
        $('#spin').hide(); 
        ajax_status = false;
      });
    }
    
    var x = 1;
    var xInt = setInterval(counter,5000);
    
    function counter() {
      //console.log('timer '+x);
      x++;
      $('.page-notif').fadeOut();
    } 

    function page_notif(ajax_status) {
      var ntf_body = '#notif-status';
      var ntf_content = '#notif-content';
      var ntf_icon = '#notif-status-icon';
      var ntf_sts = ajax_status;
      var cls = "";
      if (ajax_status) {  
        $(ntf_content).html('Data successfully updated!');
        $(ntf_icon).html('<span class="glyphicon glyphicon-ok">&nbsp;</span>');
        $(ntf_body).css('background','#308CCC');
        ntf_sts = 'Success';
        cls = 'glyphicon glyphicon-info-sign';
      } else {
        $(ntf_content).html('Failed to grab data...');
        $(ntf_body).css('background','#A94442');
        $(ntf_icon).html('<span class="glyphicon glyphicon-remove">&nbsp;</span>');
        ntf_sts = 'Failed to grab data';
        cls = 'glyphicon glyphicon-info-sign';
      }
      $('.notif-log-status').css('background','#34495E');
      $('#notif-log').html('<span><span class="'+cls+'"></span><i> Last update: '+(new Date())+' <span class="notif-log-status">'+ntf_sts +'</span></i></span>');
    }

    function process_bar(id) {
        $(id).css('border-color','#3c763d'); 
        $(id).fadeOut(); 
        $(id).fadeIn(); 
        $(id).css('border-color','#ddd');
        page_notif(ajax_status);
        $('.page-notif').fadeIn();
    }
    
    function changeCSS(id, tagValue) {
      if (tagValue) {
        $(id).css('background','green');
      } else {
        $(id).css('background','red');
      }       
      $(id).css('color','#ffffff');
      process_bar(id);
    }

    function changeValue(id, tagValue) {
      if (tagValue) {
        $(id).html(tagValue.toFixed(2));
      } else {
        $(id).html('Err');
      }
      process_bar(id);
    }
 
    function widgetSetter(data) {
      var id = '';
      var tag = ''; 
      
      //-- F1 --// 
      id = '#swro_feed_flow_f1';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\SWRO_FEED\\FLOW']['Value'];
      changeValue(id, tag);

      //-- F2 --//
      id = '#circ_pump_flow_f2';
        //tag  = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PX_RAW_IN\\FLOW']['Value'];
        //changeValue(id, tag);

      //-- CIRC. FLOW PERCENTAGE --//
      id = '#circ_flow_percentage';
        //tag = data[0]['Tags']['']['Value'];
        //changeValue(id, tag);

      //-- membrane_inlet_press --//
      id = '#membrane_inlet_press';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_FEED\\PRESS']['Value'];
      changeValue(id, tag);
      
      //-- raw_water_tds --//
      id = '#raw_water_tds';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\SWRO_FEED\\TDS']['Value'];
      changeValue(id, tag);

      //-- product_td --//
      id = '#product_td';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_PRODUCT\\TDS']['Value'];
      changeValue(id, tag);

      //-- product_ph --//
      id = '#product_ph';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_PRODUCT\\PH']['Value'];
      changeValue(id, tag);

      //--CIP TANK--//
      id = '#cip_tank_lsh';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\TANK_CIP\\LSH']['Value'];
      changeCSS(id, tag);
      
      id = '#cip_tank_lsl'; 
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\TANK_CIP\\LSL']['Value'];
      changeCSS(id, tag);

      //--CIP PUMP--//
      id = '#cip_pump_run';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_CIP\\RUN']['Value'];
      changeCSS(id, tag);

      id = '#cip_pump_flt';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_CIP\\FAULT']['Value'];
      changeCSS(id, tag);

      id = '#cip_pump_freq';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_CIP\\FREQ']['Value']
      changeValue(id, tag);

      //--HP PUMP--//
      id = '#hp_pump_run';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_HP\\RUN']['Value'];
      changeCSS(id, tag);

      id = '#hp_pump_flt';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_HP\\FAULT']['Value'];
      changeCSS(id, tag);
    
      id = '#hp_pump_freq' ;
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_HP\\FREQ']['Value'];
      changeValue(id, tag);

      //--MEMBR--//
      id = '#membrane_feed';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_FEED\\PRESS']['Value'];
      changeValue(id, tag);
     
      id = '#membrane_reject';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_REJECT\\PRESS']['Value'];
      changeValue(id, tag);
      
      id = '#membrane_product';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_PRODUCT\\PRESS']['Value'];
      changeValue(id, tag);
    
      //--SWRO FEED PUMP--//
      id = '#swro_feed_pump_run';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_SWRO_FEED\\RUN']['Value'];
      changeCSS(id, tag);
   
      id = '#swro_feed_pump_flt';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_SWRO_FEED\\FAULT']['Value'];
      changeCSS(id, tag);

      id = '#swro_feed_pump_freq';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_SWRO_FEED\\FREQ']['Value'];
      changeValue(id, tag);

      //--CRT FILTER DP--//
      id = '#crt_filter_dp_freq';
      tag = 99999; // no document
      changeValue(id, tag); 

      //--CIRC PUMP--//
      id = '#circ_pump_run';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_CIRC\\RUN']['Value'];
      changeCSS(id, tag);

      id = '#circ_pump_flt';
      tagg = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_CIRC\\FAULT']['Value'];
      changeCSS(id, tag);

      id = '#circ_pump_freq';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PUMP_CIRC\\FREQ']['Value'];
      changeValue(id, tag);

      //--PX DEVICE 2 3 DP--//
      id = '#px_device_in';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PX_RAW_IN\\PRESS']['Value'];
      changeValue(id, tag);
        
      id = '#px_device_out';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PX_RAW_OUT\\PRESS']['Value'];
      changeValue(id, tag);

      id = '#px_device_flow';
      tag = 'Err999';
      var temp = $('#px_device_in').html() - $('#px_device_out').html();
      if (temp != '') {
        changeValue(id, temp);
      } else {
        changeValue(id, temp);
      }

      //--PX DEVICE 5 6 DP--//
      id = '#px_device_dp_reject';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\MEMBRANE_REJECT\\PRESS']['Value'];
      changeValue(id, tag);

      id = '#px_device_dp_out';
      tag = data[0]['Tags']['GLM\\SWRO_001\\RT01\\PX_REJECT_OUT\\PRESS']['Value'];
      changeValue(id, tag);
      
      id = '#px_device_dp';
      tag = 99; // no document
      temp = false;
      if (temp){
        //$('#px_device_dp').html('99999');
        changeValue(id, tag);
      } else {
        //$('#px_device_dp').html('Err');
        changeValue(id, tag);
      } 
    }
    
  });
 
</script>
{% endblock %}
