{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/water/backboneapp/bower_components/gridster.js/dist/jquery.gridster.min.css" />
{% endblock %}

{% block content %}
<div class="my-container">
  {% include "sidenav-inc.html" %}
  <div id="content">
    <h3>Report</h3>

    <div class="gridster">
      <ul>
        <li data-row="1" data-col="1" data-sizex="5" data-sizey="5">
          <div style="padding:20px;">
            <b>TODAY</b>
            <canvas id="chart" width="500" height="250" style="margin-top:10px;"></canvas>
          </div>
        </li>
        <li data-row="1" data-col="3" data-sizex="5" data-sizey="5">
          <div style="padding:20px;">
            <b>YESTERDAY</b>
            <canvas id="chart" width="500" height="250" style="margin-top:10px;"></canvas>
          </div>
        </li>
        <li data-row="2" data-col="1" data-sizex="5" data-sizey="5">
          <div style="padding:20px;">
            <b>THIS WEEK</b>
            <canvas id="chart" width="500" height="250" style="margin-top:10px;"></canvas>
          </div>
        </li>
        <li data-row="2" data-col="3" data-sizex="5" data-sizey="5">
          <div style="padding:20px;">
            <b>LAST WEEK</b>
            <canvas id="chart" width="500" height="250" style="margin-top:10px;"></canvas>
          </div>
        </li>
        <li data-row="3" data-col="1" data-sizex="5" data-sizey="5">
          <div style="padding:20px;">
            <b>THIS MONTH</b>
            <canvas id="chart" width="500" height="250" style="margin-top:10px;"></canvas>
          </div>
        </li>
        <li data-row="3" data-col="3" data-sizex="5" data-sizey="5">
          <div style="padding:20px;">
            <b>LAST MONTH</b>
            <canvas id="chart" width="500" height="250" style="margin-top:10px;"></canvas>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" id="code">
  var gridster;

  $(function() {
    gridster = $(".gridster > ul")
      .gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [100, 60],
        max_cols: 10,
        max_size_x: 10})
      .data('gridster')
      .disable();
  });
</script>
{% endblock %}
