/* Base Application Styles */
/* http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
    background-color: #f0f4f8;
}

hr {
    border-top: 2px solid #eee;
}

h3 {
    margin-bottom: 30px;
}
h4 {font-size: 18px; background: #34495E; color: #FCFDFE; width: 100%; padding: 5px 5px; border-radius: 5px; width: 1102px;}
#map { height: 250px; }

/******** NAVBAR ********/
.navbar-default {
    margin: 0 !important;
    padding: 0 !important;
    background: #34495e;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
/******** END OF NAVBAR ********/

/******** SIDENAV & MAIN CONTENT ********/
.my-container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

#sidenav {
    position: fixed;
    height: 100%;
    background: #f5f5f5;
    border-right: 1px #dddddd solid;
    width: 70px;
    /* width: 55px; /* ideal */ */
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;  
}

#dashboard-content, #content {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;  
    padding-top: 50px;
}

#content {
    background-color: #f0f4f8;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 70px;
}

.sidenav-ul {
    list-style-type: none;
    color: white;
    /* font-size: 36px; */
    margin: 0;
    padding: 80px 0 0 0;
    text-align: center;
    vertical-align: middle;
}

.sidenav-ul > li {
    padding-bottom: 20px;
}

/******** END OF SIDENAV & MAIN CONTENT ********/

/******** GRIDSTER ********/
ul {
  list-style-type: none;
}

.gridster ul {
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    border: 1px solid #dddddd;
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #fff;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}

.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

.ready .gs-w:not(.preview-holder), .ready .resize-preview-holder {
    border-radius: 5px;
}
/******** END OF GRIDSTER ********/

/******** NAVTAB ********/
/*.nav-tabs {
    margin-bottom: 30px;
    background: #34495E;
    padding: 5px 0px 0px 10px;
    border-radius: 5px;
    border-top: 7px solid #308CCC;
}
.nav>li>a {
    color: white;
}
*/
.nav>li>a:hover {
    background: #34495E;
    color: white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #f0f4f8;
}

/******** END OF NAVTAB ********/

/******** REPORT ********/
.box {
    float:left;
    width:33.33%;
    height:100%;
}

.title-box {
    font-size: 20px;
}

.header-box {
    /* padding-top:10px; */
    height: 30%;
    vertical-align: middle;
}

.content-box {
    height: 35%;
    font-size: 36px;
    color: white;
    background: #34495E;
    padding-top: 16px;
    /* padding-right: 15px; */
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #dddddd;
}

.footer-box {
    height: 35%;
    font-size: 12px;
    padding-top:5px;
}
/******** END OF REPORT ********/

/******** NOTIFCATION ********/
.alert {}
.page-notif {
    font-size: 12px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    z-index: 999;
    position: fixed;
    vertical-align: middle;
}
#notif-status {
    box-shadow: 1px 1px 1px 1px rgba(123,123,123,0.42);
    height:35px;/*rm*/
}
#notif-status-icon {
    float:left;
}
#notif-status,#notif-content {
    background: #308CCC;
    border-radius: 100px;
    color: #ffffff;
    margin: 0 auto;
    padding: 9px 9px;/*3px 9px*/
}
#notif-closer {
    color:#ffffff; 
    float: right;
    cursor:pointer;
    font-weight:bold;
}
#notif-log {
    font-size: 12px;
    /*background: #A94442;*/
    padding: 2px 7px;
    /*color: #ffffff;*/
    border-radius: 3px;
    vertical-align: middle;
}
.notif-log-status {
    background: #34495E; 
    padding: 2px 5px; 
    border-radius: 5px;
    color: #ffffff;
    font-style: normal; 
}
/******** END OF NOTIFCATION ********/

/******** SPIN CSS ********/
#spin {
    float: right;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 5px;
}
/******** END OF SPIN CSS ********/

/******** WIDGET BOX VALUE ********/
.widget-head {
    background: #F5F5F5; 
    /*color: #34495E;*/
    width: 100%; 
    margin: 0 auto;
}

.box_value {
    background: #34495E;
    padding: 5px 5px;
    color: #ffffff;
    margin: 5px auto;
    min-width: 100px;
    max-width: 100px;
    border:1px solid #ddd;
}
/******** END OF WIDGET BOX VALUE ********/

/******** DASHBOARD PAGE ********/
#myDataTable {
    width: 1100px;
    word-wrap: break-word;
}
/******** END OF DASHBOARD PAGE ********/

/******** TRENDING PAGE ********/
.chart-legend, .chart-radio{
    cursor: pointer;
}
.sidechart {
    margin-left: -8px; 
    margin-top: -19px;    
}
.chart-radio {
    width: 10px;
    height: 10px;
}
.chart-legend {
    font-size: 13px;
}
/******** END OF TRENDING PAGE ********/

.asset-online, .asset-offline {
    background: green;
    width:70px;
    vertical-align: middle;
    height:70px;
    border:1px solid #dddddd; 
    border-radius:5px;
}

.asset-offline {
    background: red;
}

.panel-indicator {
    background: rgb(92, 184, 92);
    margin-top: 2px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
